// Dimensions
$navbar_height: 5em;
$navbar_collapsed_height: 3em;

// Element max sizes
$full_page_width: 1000px;
$container_max_width: 768px;

// Screen sizes
$small: 480px;
$medium: 768px;
$large: 900px;

// Transition timings
$transition_in: .1s;
$transition_out: .35s;

// Colors
$main_color: #222;
$button_color: #efefef;
